<!DOCTYPE html>
<!-- saved from url=(0027)https://hctkmat.in/contact/ -->
<html lang="en" class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> EMET SCHOLARSHIP | Contact</title>
    
        <link rel="icon" href="./assets/logoEMET.png" sizes="32x32" type="image/jpg"> 

    <!-- CSS Stylesheets -->
    <link href="./assets/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="./css/homestyle.css" rel="stylesheet" type="text/css">

    <!-- FONT -->
    <link href="./assets/stylesheet.css" rel="stylesheet" type="text/css"></head>

<body class="in-body" cz-shortcut-listen="true" data-new-gr-c-s-check-loaded="14.1209.0" data-gr-ext-installed="">


<!--header-->
  <style>
      .blinking{
	animation:blinkingText 0.8s infinite;
	
position: absolute;
background-color: #f4ee36;
font-size: 10px;
padding: 1px 2px;
border-radius: 3px;
margin-left: -30px;
margin-top: -20px;
font-weight: bold
}
@keyframes blinkingText{
	0%{		color: red;	}
	49%{	color: transparent;	}
	50%{	color: transparent;	}
	99%{	color:transparent;	}
	100%{	color: red;	}
}
      
  </style>
  <header>
    <div class="container-fluid no-padding hd-main">

      <div class="container-fluid header-top pd-2-35">
        <a class="logo-div" href="/">
          <img src="./assets/logoEMET.png" width="260" alt="logo" title="HCT KMAT" class="logo">
        </a>
             <div class="sp-menu">
          <a class="reg-btn btn-main" href="/registration"><i class="fa fa-pencil"></i> Register</a>
        </div>
        <!--<div class="sp-menu">-->
        <!--   <a class="reg-btn btn-main" href="../hallticket"><i class="fa fa-file-text"></i> Hallticket</a>-->
        <!--</div>-->
       
        <!--<div class="sp-menu">-->
         <!-- <a class="reg-btn btn-main" href="http://hctkmat.in/mocktest"><i class="fa fa-file-text"></i><span> Mock test</span><span class="blinking" >Right Now</span></a> -->
        <!--</div>-->
        <div class="clear-fix"></div>
      </div>
 
      <div class="container-fluid  pd-2-35 menu-cont">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid nav-cont no-padding">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
              </button> 
            </div>

            <div class="collapse navbar-collapse" id="myNavbar"> 
              <ul class="nav navbar-nav menu-nav">
                <li> <a href="/">Home</a></li>
                <li> <a href="/about">About EMET</a></li>
                <li><a href="/exam-pattern">Exam Pattern</a></li>
                <li><a href="/marking-scheme">Marking Scheme</a></li>
                <li><a href="/cutoff">Cut Off</a></li>
                <li><a href="/registration">Registration</a></li>
                <li><a href="/privacy-policy">Privacy Policy</a></li>  
                <li><a href="/contact">Contact</a></li>   
              </ul> 
            </div>
          </div>
        </nav>
        <div class="clear-fix"></div>
      </div>

    </div>
  </header>


<!--header-->

<!--content-->
<div class="container-fluid no-padding">
  <div class="container-fluid pd-2-35 h1-cont"><div class="col-md-12 col-sm-12"><h1>Contact</h1></div></div>
</div>

<div class="container-fluid no-padding">
  <div class="container-fluid pd-2-35 pd-bottom-20 in-main-col ">
    <div class="col-md-6 col-md-push-3 col-sm-8 col-sm-push-2 col-xs-12">

    <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6 contact-col">
      <h2 class="mrg-top-0">Contact Address</h2>
      <i class="it-font">For all inquiries please contact</i>
        <div class="box">
          <div class="sub-box1"><img src="./assets/home.png" alt="icon"></div>
          <div class="sub-box">
        <p class="address">
          EYES TRUST <br>
          MJ HUB CORPORATE CAMPUS, <br>
          KOLAPPA PO, IRIKKUR PO, KANNUR, KERALA <br>
          PIN : 670593 <br>
        </p>
        </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-6 get-in-touch">
    <h2 class="mrg-top-0">Get in touch</h2>
        <div class="box">
          <div class="sub-box1"><img src="./assets/call1-b.png" alt="icon"></div>
          <div class="sub-box">8086704555</div>
        </div>
        <!--<div class="box">-->
        <!--  <div class="sub-box1"><img src="../img/icons/call1-b.png" alt="icon"></div>-->
        <!--  <div class="sub-box">8606991555</div>-->
        <!--</div>-->
        <div class="box">
          <div class="sub-box1"><img src="./assets/call1-b.png" alt="icon"></div>
          <div class="sub-box">8086704666</div>
        </div>
        <div class="box">
          <div class="sub-box1"><img src="./assets/mail-b.png" alt="icon"></div>
          <div class="sub-box">emetsrc@gmail.com</div>
        </div>
    </div>


    </div>

    </div>
  </div>
</div>
<!--content-->


<!--footer-->
<footer>
  <div class="container-fluid pd-2-35 top-footer">
    <div class="col-md-12 no-padding">
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 ft-vision-col">
        <p class="foot-head">EMET SCHOLARSHIP EXAM</p>
        <p class="gen-para ft-vision">EMET SCHOLARSHIP EXAM is a scholarship program is designed to provide financial assistance to students</p>
        <a class="more transition" href="/">Read More &nbsp;<i class="fa fa-chevron-circle-right"></i></a>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 ft-quick">
        <p class="foot-head">Quick Links</p>
        <ul class="quick-link">
          <li><a href="/exam-pattern">Exam Pattern</a></li>
          <li><a href="/">Paper Pattern</a></li>
          <li><a href="/marking-scheme">Marking Scheme</a></li>
          <li><a href="/cutoff">Cut Off</a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 get-in-touch">
        <p class="foot-head">Get In Touch</p>
        <div class="box">
          <div class="sub-box1"><img src="./assets/call1-b.png" alt="icon"></div>
          <div class="sub-box">8086704111</div>
        </div>
      
        <div class="box">
          <div class="sub-box1"><img src="./assets/call1-b.png" alt="icon"></div>
          <div class="sub-box">8086704222</div>
        </div>
        <div class="box">
          <div class="sub-box1"><img src="./assets/mail-b.png" alt="icon"></div>
          <div class="sub-box">emetsrc@gmail.com</div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 ft-address">
        <p class="foot-head">Contact Address</p>
        <i class="it-font">For all inquiries please contact</i>
        <div class="box">
          <div class="sub-box1"><img src="./assets/home.png" alt="icon"></div>
          <div class="sub-box">
        <p class="address">
        EYES TRUST <br>
        MJ HUB CORPORATE CAMPUS, <br>
        KOLAPPA PO, IRIKKUR PO, KANNUR, KERALA <br>
        PIN : 670593 <br>
        </p>
        </div>
        </div>

      </div>
     
    </div>
  </div>

  <div style="background-color: #24381f;" class="container-fluid pd-2-35 bottom-footer">
    <div class="col-md-6 col-sm-6 col-xs-12 rights-col"><p class="rights">© 2024 <span class="blue">EMETSRC</span>&nbsp; All rights reserved.</p></div>
    <div class="col-md-6 col-sm-6 col-xs-12 power-col text-right">
      <p class="powered-by text-right">Powered by:
        <a href="/" class="srv" target="_blank"><span title="SRV InfoTech">EXEGROUP</span></a>
      </p>
    </div>
  </div>

</footer>


    <!-- JavaScript Includes -->
    <script src="./assets/jquery-3.3.1.min.js.download"></script>
    <script src="./assets/bootstrap.min.js.download"></script>
    <script src="./assets/modernizr-2.8.3-respond-1.4.2.min.js.download"></script>

<!--footer-->




</body><grammarly-desktop-integration data-grammarly-shadow-root="true"><template shadowrootmode="open"><style>
      div.grammarly-desktop-integration {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select:none;
        user-select:none;
      }

      div.grammarly-desktop-integration:before {
        content: attr(data-content);
      }
    </style><div aria-label="grammarly-integration" role="group" tabindex="-1" class="grammarly-desktop-integration" data-content="{&quot;mode&quot;:&quot;full&quot;,&quot;isActive&quot;:true,&quot;isUserDisabled&quot;:false}"></div></template></grammarly-desktop-integration></html>