<!DOCTYPE html>
<!-- saved from url=(0019)https://hctkmat.in/ -->
<html lang="en" class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async="" src="./assets/js"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-137866865-1');
</script>

    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="EXEGROUP">
    <meta name="copyright" content="EXEGROUP">
    <meta name="cache-control" content="no-cache">
    <meta name="distribution" content="Global">
    <meta name="document-distribution" content="Global">
    <meta name="document-rating" content="General">
    <meta name="document-rights" content="Public">
    <meta name="document-state" content="static">
    <meta name="publisher" content="EXEGROUP">
    <meta name="rating" content="General">
    <meta name="expires" content="never">
    <meta name="resource-type" content="General">
    <meta name="Address" content="">
    <meta name="robots" content="INDEX,FOLLOW">

    <!-- OG Tags Start -->  
    <meta property="og:title" content="">
    <meta property="og:url" content="">
    <meta property="og:description" content="">
    <meta property="og:type" content="">
    <meta property="og:image" content="">
    <meta property="og:site_name" content="EMET SCHOLARSHIP">
    <meta property="og:street-address" content="Pavanoormotta">
    <meta property="og:locality" content="Mayyil ">
    <meta property="og:region" content="Kerala">
    <meta property="og:country-name" content="India">
    <meta property="og:email" content="">
    <meta property="og:phone_number" content="8086704555">

    <title>EMET SCHOLARSHIP | Home</title>
    
    <link rel="icon" href="./assets/logoEMET.jpg" sizes="32x32" type="image/jpg"> 
    <!-- https://hctkmat.in/img/logo/favicon.png -->
    <!-- CSS Stylesheets -->
    <link href="./assets/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="./css/homestyle.css" rel="stylesheet" type="text/css">

    <!-- FONT -->
    <link href="./css/stylesheet.css" rel="stylesheet" type="text/css">


</head>

<body data-new-gr-c-s-check-loaded="14.1209.0" data-gr-ext-installed="" cz-shortcut-listen="true">

    <!-- Start HEADER -->
      <style>
      .blinking{
	animation:blinkingText 0.8s infinite;
	
position: absolute;
background-color: #f4ee36;
font-size: 10px;
padding: 1px 2px;
border-radius: 3px;
margin-left: -30px;
margin-top: -20px;
font-weight: bold
}
@keyframes blinkingText{
	0%{		color: red;	}
	49%{	color: transparent;	}
	50%{	color: transparent;	}
	99%{	color:transparent;	}
	100%{	color: red;	}
}
      
  </style>
  <header>
    <div class="container-fluid no-padding hd-main">
        <div class="container-fluid header-top pd-2-35">
        <a class="logo-div" href="/">
          <img src="./assets/newLogoEMET.png" width="260" alt="logo" title="EMET" class="logo">
        </a>
        <div class="sp-menu">
          <a class="reg-btn btn-main" href="/registration"><i class="fa fa-pencil"></i> Register</a>
        </div>
        <!--<div class="sp-menu">-->
        <!--   <a class="reg-btn btn-main" href="hallticket"><i class="fa fa-file-text"></i> Hallticket</a>-->
        <!--</div>-->
        <!-- <div class="sp-menu">
           <a class="reg-btn btn-main" href="/"><i class="fa fa-file-text"></i> Result</a>
        </div> -->
        <!--<div class="sp-menu">-->
         <!-- <a class="reg-btn btn-main" href="http://hctkmat.in/mocktest"><i class="fa fa-file-text"></i><span> Mock test</span><span class="blinking" >Right Now</span></a> -->
        <!--</div>-->
        <div class="clear-fix"></div>
      </div>
 
      <div class="container-fluid  pd-2-35 menu-cont">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid nav-cont no-padding">
            <div class="navbar-header">
              <button type="button" class="text-white navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
              </button> 
            </div>

            <div class="collapse navbar-collapse" id="myNavbar"> 
              <ul class="nav navbar-nav menu-nav">
                    <li> <a href="/">Home</a></li>
                    <li> <a href="/about">About EMET</a></li>
                    <li><a href="/exam-pattern">Exam Pattern</a></li>
                    <li><a href="/marking-scheme">Marking Scheme</a></li>
                    <li><a href="/cutoff">Cut Off</a></li>
                    <li><a href="/registration">Registration</a></li>
                    <li><a href="/privacy-policy">Privacy Policy</a></li>  
                    <li><a href="/contact">Contact</a></li>
              </ul> 
            </div>
          </div>
        </nav>
        <div class="clear-fix"></div>
      </div>

    </div>
  </header>


 
    <!-- End Header -->

    <div class="modal fade" id="imageModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="background: transparent; border: none; box-shadow: none;">
      
      <!-- Transparent header with right-aligned close button -->
      <div class="py-0 modal-header justify-content-end" style="background: transparent; border: none;padding-bottom: 2px; display: flex; justify-content: end;">
        <button type="button" class="btn-close" onclick="handleCloseModal()">X</button>
      </div>
      
      <div class="modal-body text-center py-0" style="background: transparent; border: none; padding-top: 0;">
        <img src="./assets/popImage1.jpg" alt="Welcome Image" class="img-fluid" style="max-width: 100%; width: 340px;">
      </div>

    </div>
  </div>
</div>



    <!--content starts-->
<div class="container-fluid no-padding ">
  <div class="container-fluid pd-2-35 home-cont">
    <div class="col-md-12 col-sm-12 no-padding">

      <div class="col-md-6 col-sm-6">
        <div class="col-md-12 no-padding date-col">
          <div>
            <p class="date-head text-center w-50">Important Dates</p>
            <div class="spinner-grow text-light w-100 h-100" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <ul class="date-list">
      
            <li>
              <p class="date">ONLINE APPLICATION DEADLINE</p>
              <p class="date-text">31 may 2025</p>

            </li>
            <li>
              <p class="date">ONLINE/RECORDED CLASSES </p>
              <p class="date-text">02 jun 2025</p>

            </li>      

             <li>
              <p class="date">TENTATIVE EXAM DATE</p>
              <p class="date-text">07 jun 2025</p>
              <p class="date-text">  </p>
               <p class="date-text">  </p>
            </li>           
             <!-- <li>
              <p class="date">B02 | RESIDENTIAL BATCH | ITM CAMPUS, MAYYIL </p>
              <!--<p class="date-text"> Date: 26-01-2024 to 28-01-2024</p>-->
              <!-- <p class="date-text">  </p>
               <p class="date-text">  </p> -->
            <!-- </li> 
             <li> -->
             <!-- <p class="date">B03 | ONLINE BATCH </p> -->
            <!--  <p class="date-text"> Date: To be Announced </p>-->
            <!--  <p class="date-text">  </p>-->
            <!-- </li>  -->
             
             
            
            
            

          </ul>
       
        </div>
        
      </div>

      <div class="col-md-6 col-sm-6">
        <div class="mis-col">
          <a class="view" href="/" style="color: #24381f;">View Guidelines to Apply for EMET</a>
         <!-- <p class="clrf"> Closing Date:20/05/2020</p> -->
         <p class="clrf">For any Information,<br> kindly send "EMET" to&nbsp;&nbsp;<a>8086704555</a></p>
         <!-- <p class="clrf"> <a href="/about"> EMET Entrance Registration</a></p>
          <p class="clrf"> <a href="/about" > EMET Entrance Notification</a></p>  -->
         
          <!-- <p class="clrf"> <a href="https://cee.kerala.gov.in/kmatonline2023/instruction"> KMAT Entrance Registration</a></p>
          <p class="clrf"> <a href="https://cee.kerala.gov.in/kmatonline2023/noti_view/683/Upload1"> KMAT Entrance Notification</a></p>           -->
        </div>
        <!--
        
         -->
      </div>  

    </div>
  </div>
</div>




<!--about starts-->
<div class="container-fluid no-padding ">
  <div class="container-fluid pd-2-35 about-cont">
    <div class="col-md-12 col-sm-12">
      <h1>About EYES Trust</h1>
      <p class="gen-para">
        EYES Trust, established under the Trust Act of 1980 (Reg. No: 24/IV/2019), is a visionary organization committed to its motto: "Educate Youth, Empower the Society." Headquartered in Kolappa, Irikkur, Kannur district, EYES Trust is dedicated to fostering education and societal progress by empowering young minds through innovative programs and initiatives.

        The trust operates educational institutions, conducts scholarship exams to financially support deserving students, and offers a range of skill-based training programs, including KMAT coaching, CUET coaching, NLP training, and communication skills development. These initiatives are designed to equip students with the tools they need to succeed academically, personally, and professionally.
      </p>
      <p class="gen-para">
        With a mission to create a progressive and empowered society, EYES Trust remains steadfast in its efforts to nurture future leaders and changemakers. Join us in shaping a brighter tomorrow, one empowered youth at a time.
      </p>
    </div>
  </div>
</div>   
<!--about ends-->
<!--<div class="modal fade in" id="ALERT_MODEL" onclick="close_model()" role="dialog" style="display:block;background:rgba(0,0,0,0.6);">-->
<!--                    <div class="modal-dialog" style="margin-top: 5%;text-align: center;">-->
<!--                        <div class="modal-content">-->
<!--                            <div class="modal-body">-->
<!--                            <button type="button" class="close" onclick="close_model()" >&times;</button>-->
<!--                        <img src="img/images/home.jpg" alt="home" height="500" width="500">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->



    <!--content ends-->

<!--footer starts-->
  <footer>
  <div class="container-fluid pd-2-35 top-footer">
    <div class="col-md-12 no-padding">
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 ft-vision-col">
        <p class="foot-head">EMET SCHOLARSHIP EXAM  </p>
        <p class="gen-para ft-vision">EMET SCHOLARSHIP EXAM is a scholarship program is designed to provide financial assistance to students</p>
        <a class="more transition" href="/about">Read More &nbsp;<i class="fa fa-chevron-circle-right"></i></a>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 ft-quick">
        <p class="foot-head">Quick Links</p>
        <ul class="quick-link">
          <li><a href="/exam-pattern">Exam Pattern</a></li>
          <li><a href="/">Paper Pattern</a></li>
          <li><a href="/marking-scheme">Marking Scheme</a></li>
          <li><a href="/cutoff">Cut Off</a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 get-in-touch">
        <p class="foot-head">Get In Touch</p>
        <div class="box">
          <div class="sub-box1"><img src="./assets/call1-b.png" alt="icon"></div>
          <div class="sub-box">8086704555</div>
        </div>
      
        <div class="box">
          <div class="sub-box1"><img src="./assets/call1-b.png" alt="icon"></div>
          <div class="sub-box">8086704666</div>
        </div>
        <div class="box">
          <div class="sub-box1"><img src="./assets/mail-b.png" alt="icon"></div>
          <div class="sub-box">emetsrc@gmail.com</div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 ft-address">
        <p class="foot-head">Contact Address</p>
        <i class="it-font">For all inquiries please contact</i>
        <div class="box">
          <div class="sub-box1"><img src="./assets/home.png" alt="icon"></div>
          <div class="sub-box">
        <p class="address">
        EYES TRUST <br>
        MJ HUB CORPORATE CAMPUS, <br>
        KOLAPPA PO, IRIKKUR PO, KANNUR, KERALA <br>
        PIN : 670593 <br>
        </p>
        </div>
        </div>

      </div>
     
    </div>
  </div>

  <div style="background-color: #24381f;" class="container-fluid pd-2-35 bottom-footer">
    <div class="col-md-6 col-sm-6 col-xs-12 rights-col"><p class="rights">© 2024 <span class="blue">EMETSRC</span>&nbsp; All rights reserved.</p></div>
    <div class="col-md-6 col-sm-6 col-xs-12 power-col text-right">
      <p class="powered-by text-right">Powered by:
        <a href="/" class="srv" target="_blank"><span title="SRV InfoTech">EXEGROUP</span></a>
      </p>
    </div>
  </div>

</footer>


    <!-- JavaScript Includes -->
    <script src="./assets/jquery-3.3.1.min.js.download"></script>
    <script src="./assets/bootstrap.min.js.download"></script>
    <script src="./assets/modernizr-2.8.3-respond-1.4.2.min.js.download"></script>

 
<!--footer ends-->


     <!--script for news-->
     <script src="./assets/jquery.marquee.min.js.download"></script>

     <script>
      document.addEventListener('DOMContentLoaded', function () {
        if(!sessionStorage.getItem('modal')){
          // Show the modal when the page loads
          $('#imageModal').modal('show');
          sessionStorage.setItem('modal',true)
        }
    });
        $(function(){

        $('#marquee-vertical').marquee({direction:'vertical', delay:0, timing:25});  

      });

      handleCloseModal = () => {
        $('#imageModal').modal('hide');
        sessionStorage.setItem('modal',true)
      }
      </script>




<script>
$(document).ready(function(){    
    $("#ALERT_MODEL").fadeOut(20000);
});
</script>
<script type="text/javascript">
function close_model()
{
    document.getElementById('ALERT_MODEL').style.display = 'none';
}
</script></body><grammarly-desktop-integration data-grammarly-shadow-root="true"><template shadowrootmode="open"><style>
      div.grammarly-desktop-integration {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select:none;
        user-select:none;
      }

      div.grammarly-desktop-integration:before {
        content: attr(data-content);
      }
    </style><div aria-label="grammarly-integration" role="group" tabindex="-1" class="grammarly-desktop-integration" data-content="{&quot;mode&quot;:&quot;full&quot;,&quot;isActive&quot;:true,&quot;isUserDisabled&quot;:false}"></div></template></grammarly-desktop-integration></html>